{% extends "layouts/base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="row text-center">
  <h1>{{ title}}</h1>
</div>
<br/><br/>
<div class="row text-center">
    <form method="POST" >
      <label for="music">Search your music:</label>
    <input name="text" id="music" required>
    <input type="submit">
    </form>
  <!--<button class="btn btn-primary" id="clearButton">Clear</button>-->
  <!--<button class="btn btn-primary" id="sendButton">Send data</button>-->
</div>
{% endblock %}
